.custom-css img{
    height: 200px;
    width: 100%;
}

@font-face {
    font-family: 'Dhakaiya';
    src: url('../assets//fonts/Li_Dhakaiya_RRR_ANSI_V2.ttf');
}
@font-face {
    font-family: 'Harappi';
    src: url('../assets//fonts/LiHarappaLipiANSIV2-Regular.ttf');
}


h1,h2,h3,h4,h5,h6{
    font-family: "Harappi";
}

span,a,li,b,i{
    font-family: 'Dhakaiya';
}