<!-- error_page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">
    <div class="mt-40 relative mx-auto w-full max-w-md bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:rounded-xl sm:px-10">
        <div class="w-full">
            <div class="text-center">
                <h1 class="text-3xl font-semibold text-gray-900">
                    An Error Occurred
                </h1>
                <p class="mt-2 text-gray-500">
                    Sorry, something went wrong.
                </p>
                <a href="#" class="bg-green-400 py-2 px-4 rounded-md block mt-2 text-white hover:bg-[#e3c244] hover:text-black text-lg">Home</a>
            </div>
            <div class="mt-5">
                <!-- Display custom error message here if needed -->

                <!-- You can include additional content or styling for the error page -->
            </div>
        </div>
    </div>
</body>
</html>
